<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ecommerce</title>

  <title>sumit</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: #B3E5FC;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla qui fugit, obcaecati impedit expedita praesentium labore tenetur vero pariatur numquam eveniet, tempore ad in culpa dolor. Autem cumque suscipit, ex iure explicabo architecto odio dolorem, quia ipsum, maiores dolor quam!” </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>
</html>
